<div class="container">
  <h1 class="font-bold text-7xl">サービス概要</h1>
  <div class="grid grid-cols-2 gap-4 items-stretch my-32">
    <div class="self-center">
      <h1 class="h1-large mb-5">若者の投票率が低下</h1>
      <p class="p-large mb-8 text-3xl">若者の投票率を向上させていく必要がある</p>
    </div>
    <div class="mx-auto">
      <%= image_tag "graph1.png", alt: "card image" %>
    </div>
 </div>

  <div class="grid grid-cols-2 gap-4 items-stretch my-32">
  <div>
    <%= image_tag "graph2.png", alt: "card image" %>
  </div>
    <div class="self-center">
      <h1 class="h1-large mb-5">20歳代、30歳代の都議会選挙の関心が落ち込んでいる</h1>
      <p class="p-large mb-8 text-3xl">都の未来のためにも、20歳代、30歳代への関心を高める必要がある</p>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 items-stretch my-32">
    <div class="self-center">
      <h1 class="h1-large mb-5">「分かりやすい報道との接触」に着目</h1>
      <p class="p-large mb-8 text-3xl">自分の考えと政党政策が一致するかを簡単に調べれるサービスを作れば若者の投票率が上がるのではないかと考えて、このサービスを作成しました</p>
    </div>
    <div>
      <%= image_tag "graph3.png", alt: "card image" %>
    </div>
  </div>
</div>
<nav class="navbar w-full bg-white my-20">
  <div class="container-lg px-0">
    <div class="flex w-full items-center">
      <%= link_to "トップページ", root_path, class: "nav-brand mr-auto ml-0 w-full"%>
    </div>
  </div>
</nav>
