<div class="mx-auto max-w-lg text-center">
  <h1 class="font-bold text-5xl">あなたの意見と最もマッチングした政党は…</h1>
  <h1 class="font-bold text-5xl my-8"><%= @results.first.party.name %></h1>
  <div class="card w-full bg-base-100 shadow-xl my-8">
    <div class="card-body">
      <h1 class="font-bold text-2xl my-8">あなたのマッチング結果詳細</h1>

      <div class="shadow-lg rounded-lg overflow-hidden">
        <div class="py-3 px-5 bg-gray-50">Bar chart</div>
        <canvas class="p-10" id="chartBar"></canvas>
      </div>

    </div>
  </div>
      <button class="button button-gradient button-pink button-lg mb-3" data-ripple-light="true">
        おすすめの動画
      </button>
</div>

<!-- Required chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart bar -->
<script>
  const labelsBarChart = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
  ];
  const dataBarChart = {
    labels: labelsBarChart,
    datasets: [
      {
        label: "My First dataset",
        backgroundColor: "hsl(252, 82.9%, 67.8%)",
        borderColor: "hsl(252, 82.9%, 67.8%)",
        data: [0, 10, 5, 2, 20, 30, 45],
      },
    ],
  };

  const configBarChart = {
    type: "bar",
    data: dataBarChart,
    options: {},
  };

  var chartBar = new Chart(
    document.getElementById("chartBar"),
    configBarChart
  );
</script>
