<div class="mx-auto max-w-lg text-center">
  <h1 class="font-bold text-5xl">あなたの意見と最もマッチングした政党は…</h1>
  <h1 class="font-bold text-5xl my-8">民主党！</h1>
  <div class="card w-full bg-base-100 shadow-xl my-8">
    <div class="card-body">
      <h1 class="font-bold text-2xl my-8">あなたのマッチング結果詳細</h1>

      <div class="w-full">
        <span class="text-blue-gray-500 text-sm font-normal leading-6">政党名</span>
        <div class="progress" percentage="true">
          <div
            class="progress-bar progress-pink"
            data-value="50"
          ></div>
        </div>
      </div>
      <div class="w-full">
        <span class="text-blue-gray-500 text-sm font-normal leading-6">政党名</span>
        <div class="progress" percentage="true">
          <div
            class="progress-bar progress-gradient progress-blue"
            data-value="50"
          ></div>
        </div>
      </div>
      <div class="w-full">
        <span class="text-blue-gray-500 text-sm font-normal leading-6">政党名</span>
        <div class="progress" percentage="true">
          <div
            class="progress-bar progress-gradient progress-red"
            data-value="50"
          ></div>
        </div>
      </div>
      <div class="w-full">
        <span class="text-blue-gray-500 text-sm font-normal leading-6">政党名</span>
        <div class="progress" percentage="true">
          <div
            class="progress-bar progress-gradient progress-green"
            data-value="50"
          ></div>
        </div>
      </div>
      <div class="w-full">
        <span class="text-blue-gray-500 text-sm font-normal leading-6">政党名</span>
        <div class="progress" percentage="true">
          <div
            class="progress-bar progress-gradient progress-orange"
            data-value="50"
          ></div>
        </div>
      </div>
      <div class="w-full">
        <span class="text-blue-gray-500 text-sm font-normal leading-6">政党名</span>
        <div class="progress" percentage="true">
          <div
            class="progress-bar progress-gradient progress-dark"
            data-value="50"
          ></div>
        </div>
      </div>

    </div>
  </div>
      <button
        class="button button-gradient button-pink button-lg mb-3"
        data-ripple-light="true"
      >
        おすすめの動画
      </button>
</div>
<script src="node_modules/@material-tailwind/html/scripts/progress.js"></script>

<!-- from cdn -->
<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/progress.js"></script>
