<div class="mx-auto text-center">
  <h1 class="font-bold text-5xl ">東京選挙マッチング</h1>
  <h2 class="font-bold text-4xl my-8"></h2>
    <a href="#" blur-shadow-image="true">
      <%= image_tag "Thinking face-rafiki.svg", alt: "card image" %>
    </a>
  <div class="card w-full bg-base-100 shadow-xl">
    <div class="card-body">
      <h3 class="opcacity-60 my-8">
        どの政党に投票していいかわからない<br>
        あなたへ！！<br>
        あなたの意見と政党をマッチング！！
      </h3>
      <div class="card-actions justify-end">
        <%= link_to "スタート", guest_login_path, class: "alert alert-pink w-full"%>
      </div>
    </div>
  </div>
</div>
