<div class="mx-auto">
  <h1>Login</h1>

<div class="mt-4">
  <%= render 'form' %>
</div>

  <div class="content-end mt-4">
    <%= link_to 'Back', root_path, class: "button button-blue", "data-ripple-light": "true" %>
  </div>
</div>
